/* index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Webkit browsers (Chrome, Safari, newer versions of Opera) */
::-webkit-scrollbar {
  width: 5px; /* Vertical scrollbar width */
  height: 5px; /* Horizontal scrollbar height */
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey background */
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Grey scrollbar handle */
  border-radius: 4px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker grey when hovering */
}
